= link_to "#", class: "user" do
  .user__top
    = image_tag("profile.jpeg", alt: "未設定", class: "user__top__photo")
      
    .user__top__nickname
      マコマコマコマコマ
  .user__hobby
    趣味：
    - 4.times do
      .user__hobby__list
        ゲーム
  .user__introduction
    私は○○大学の○○と申します。もともと服を作ったりデザインしたりすることに興味があり、学生時代も服飾デザイン系の知識を学んできました。今回は服飾に関わる御社の面接に参加させていただき、質問に対してはりきって答えたいと思っていると同時に、憧れていた御社での面接ということもあり多少緊張しています。今回の面接ではできるだけ分かりやすく、丁寧に話し質問に回答していきたいと思っていますので、本日はよろしくお願いいたします。